In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
hamoye_ds = pd.DataFrame()

hamoye_ds= pd.read_csv('C:/Users/KOGI RAAMP/Documents/hamoye ds.txt', delimiter = ",")

hamoye_ds.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [9]:
print(hamoye_ds.columns)
hamoye_ds.describe()

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [13]:
a = [col for col in hamoye_ds.columns if hamoye_ds[col].dtype=='object']
print (a)

['record_id', 'plant_name_ferc1', 'fuel_type_code_pudl', 'fuel_unit']

In [14]:
b = [col for col in hamoye_ds.columns if hamoye_ds[col].dtype!='object']
print (b)

['utility_id_ferc1', 'report_year', 'fuel_qty_burned', 'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned', 'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu']

In [19]:
for l in a:
    print(hamoye_ds[l].nunique())

29523
2315
6
9

In [31]:
hamoye_ds['fuel_type_code_pudl'].unique()

array(['coal', 'gas', 'nuclear', 'oil', 'waste', 'other'], dtype=object)

In [21]:
url='https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'
fuel_data = pd.read_csv(url, error_bad_lines=False)
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [34]:
hamoye_ds.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [36]:
hamoye_ds.loc[hamoye_ds['fuel_type_code_pudl']=='coal'].sum()

record_id                       f1_fuel_1994_12_1_0_7f1_fuel_1994_12_1_0_10f1_...
utility_id_ferc1                                                           988354
report_year                                                              17133514
plant_name_ferc1                rockportrockport total plantgorgasbarrye. c. g...
fuel_type_code_pudl             coalcoalcoalcoalcoalcoalcoalcoalcoalcoalcoalco...
fuel_qty_burned                                                        1.6269e+10
fuel_mmbtu_per_unit                                                        177459
fuel_cost_per_unit_burned                                                  576254
fuel_cost_per_unit_delivered                                               999581
fuel_cost_per_mmbtu                                                       15275.1
dtype: object

In [27]:
x = A.append(B)
print(x)
#print(A.extend(B))

None

In [30]:
a = np.array([[1,0,0],[0,1,0],[0,0,1]])
a

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [37]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [42]:
corr = hamoye_ds.corr()
print (corr)

                              utility_id_ferc1  report_year  fuel_qty_burned  \
utility_id_ferc1                      1.000000     0.093323        -0.057447
report_year                           0.093323     1.000000         0.012952
fuel_qty_burned                      -0.057447     0.012952         1.000000
fuel_mmbtu_per_unit                  -0.066946    -0.110853        -0.080946
fuel_cost_per_unit_burned            -0.037863     0.013599        -0.018535
fuel_cost_per_unit_delivered         -0.016414    -0.014043        -0.003551
fuel_cost_per_mmbtu                   0.006122     0.010261        -0.001896

                              fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
utility_id_ferc1                        -0.066946                  -0.037863
report_year                             -0.110853                   0.013599
fuel_qty_burned                         -0.080946                  -0.018535
fuel_mmbtu_per_unit                      1.000000                  -0.010034
fuel_cost_per_unit_burned               -0.010034                   1.000000
fuel_cost_per_unit_delivered            -0.009039                   0.011007
fuel_cost_per_mmbtu                     -0.005884                  -0.000437

                              fuel_cost_per_unit_delivered  \
utility_id_ferc1                                 -0.016414
report_year                                      -0.014043
fuel_qty_burned                                  -0.003551
fuel_mmbtu_per_unit                              -0.009039
fuel_cost_per_unit_burned                         0.011007
fuel_cost_per_unit_delivered                      1.000000
fuel_cost_per_mmbtu                              -0.000109

                              fuel_cost_per_mmbtu
utility_id_ferc1                         0.006122
report_year                              0.010261
fuel_qty_burned                         -0.001896
fuel_mmbtu_per_unit                     -0.005884
fuel_cost_per_unit_burned               -0.000437
fuel_cost_per_unit_delivered            -0.000109
fuel_cost_per_mmbtu                      1.000000

In [43]:
hamoye_ds.groupby(['report_year', 'fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum()

report_year  fuel_type_code_pudl
1994         coal                    14984.572
             gas                     10792.496
             nuclear                227983.354
             oil                      9362.194
             other                     116.737
             waste                      52.762
1995         coal                    14571.785
             gas                      9087.905
             nuclear                384152.639
             oil                     17858.281
             other                     183.577
             waste                    -192.699
1996         coal                    12694.803
             gas                      1467.390
             nuclear                 66657.887
             oil                      5357.028
             other                     160.075
             waste                      88.092
1997         coal                    43742.178
             gas                      1518.471
             nuclear                112593.911
             oil                      5387.536
             other                     153.923
             waste                     137.433
1998         coal                    11902.597
             gas                      7475.596
             nuclear                117788.269
             oil                      2608.657
             other                     225.428
             waste                     238.109
                                       ...
2013         other                     182.494
             waste                     609.411
2014         coal                    15412.197
             gas                      4169.285
             nuclear                229158.129
             oil                    268670.603
             other                       0.661
             waste                     591.594
2015         coal                    13338.235
             gas                      6224.304
             nuclear                208830.486
             oil                     31038.094
             other                       0.595
             waste                     629.270
2016         coal                    11100.925
             gas                      1994.266
             nuclear                213837.559
             oil                     28012.376
             other                       0.609
             waste                     539.079
2017         coal                    10254.284
             gas                      4424.244
             nuclear                197491.493
             oil                     31935.723
             waste                     452.079
2018         coal                     9488.197
             gas                      4322.494
             nuclear                173267.161
             oil                     33836.602
             waste                     660.972
Name: fuel_cost_per_unit_burned, Length: 148, dtype: float64

In [44]:
hamoye_ds['fuel_qty_burned'].skew()

15.851495469109503

In [45]:
hamoye_ds['fuel_qty_burned'].kurtosis()

651.3694501337732